---
layout: default
---

{% include about.html %}
{% include nasus-img.html %}
<section class="more-info">
  <h3>Nasus - infinite knowledge</h3>
  <hr>
  <p>The cycle of life and death continues. We will live, they will die.</p>
</section>
<section class="more-info bg-shurima">
  <h3>Explore Shurima</h3>
  <p><a href="http://leagueoflegends.wikia.com/wiki/Shurima">- View History </a></p>
</section>
<section class="more-info">
  <h3>Strategize your next Game</h3>

  <hr>

  <h3>Learn from the pros</h3>
  <p><a href="http://na.op.gg/ranking/ladder/">- Inquire </a></p>
</section>
