<nav>
  <ul class="main-nav">
    <li><a href="https://github.com/colorlessenergy">My Work</a></li>
    <li><h1><a href="{{site.baseurl}}/index.html">{{site.title}}</a></h1></li>
    <li><a href="http://leagueoflegends.wikia.com/wiki/Nasus">More info</a></li>
  </ul>
  <h1 class="title-res">{{ site.title }}</h1>
  <div class="container-menu">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
 </div>
 <div class="toggle-nav menu-res">
   <div class="header-res">
     <h1 class="title-res">{{ site.title }}</h1>
     <div class="container-menu">
       <div class="bar1"></div>
       <div class="bar2"></div>
       <div class="bar3"></div>
    </div>
   </div>
  <ul class="res-nav">
    <li><a href="https://github.com/colorlessenergy">My Work</a></li>
    <li><h1><a href="{{site.baseurl}}/index.html">{{site.title}}</a></h1></li>
    <li><a href="http://leagueoflegends.wikia.com/wiki/Nasus">More info</a></li>
  </ul>
</div>
</nav>
