section.bg-shurima {
  background-image: url(images/shurima.png);
  background-size: cover;
  color: #fff;
}

section.more-info p a {
  color: #1cae9c;
  text-decoration: none;
  transition: color 1s ease;
}

section.more-info p a:hover {
  color: #ffc0cb;
}

.more-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 388px;
  justify-content: center;
}

.more-info h3, .gallery h2 {
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

.more-info p {
  font-size: 19px;
  max-width: 780px;
  text-align: center;
}

.more-info hr {
  background-color: rgba(0,0,0,0.8);
  height: 1px;
  margin: 29px 0;
  width: 4em;
}
